/* Contact.css */
/* 
.left-col {
    float: left;
    width: 30%;

} */

.about {
    display: flex; /* Use Flexbox */
    flex-direction: column; 
    justify-content: center; /* Vertically center elements */
    align-items: center; /* Horizontally center elements */
    position: absolute;
    top: 35%;
    left: 47%;
    transform: translate(-50%, -50%);
    padding: 1vh;
    width: 105%;
    height: 90vh;
    margin-top: 1vh;
    font-family: 'Poppins', sans-serif; 
    backdrop-filter: blur(0px);
    animation: blurAnimation 4s forwards;
    /* background-color: rgba(0, 0, 0, 0.61); */
    /* border: 5px solid rgba(242, 242, 242, 0); */
    border-radius: 10%;
    
}


.about-row {
    display: flex; /* Create a flex container for each row */
    /* justify-content: space-between;  */
    width: 100%; /* Ensure rows occupy full container width */
}


.about-block {
    display: flex; /* Use Flexbox */
    flex-direction: column; 
    justify-content: center; /* Vertically center elements */
    align-items: center; /* Horizontally center elements */
    /* margin-left: 2vh; */
    /* margin-top: 2vh; */
    width: 170vh;
    height: 100%;
    /* border: 1vh; */
    border-radius: 10%;
}

.about-section {
    display: flex; /* Use Flexbox */
    flex-direction: column; 
    justify-content: center; /* Vertically center elements */
    text-align: left;
    align-items:left; /* Horizontally center elements */
    position: sticky;
    font-family: 'Poppins', sans-serif;
    color: #435071f7;
    /* padding: 1vh 1vh 1vh 1vh; */
    top: 50%;
    left: 90%;
    transform: translate(-12%, 2%);
    width: 100%;
    height: 80%;
    /* margin-left: 2vh; */
    margin-top: 20vh;

}

.about-section h1 {
    font-size: 5vh;
    font-weight: 800;
    color: #435071f7;
    /* margin-bottom: 1vh; */
    /* margin-top: 1vh; */
}

.about-section p {
    font-size: 1.9vh;
    font-weight: 500;
    color: #36415c;
    /* margin-bottom: 1vh; */
    /* margin-top: 1vh; */
}


.bio {
    /* max-width: 80%; */
    /* max-height: 80%; */
    transform: translate(0%, 20%);
    width: 60%;
    max-height: 400%;
    display: block; 
    margin: 0 auto;
    border-radius: 10%;
    filter: blur(0px) contrast(120%) brightness(100%); /* Apply the initial blur */
    transition: filter 0.4s;
}


/* img:hover {
    filter: blur(8px) contrast(80%) brightness(50%);
} */



.horizontal-line {
    border-top: 2px solid #435071e0; /* You can adjust the color, width, and style */
    width: 100%; /* Set the width of the line */
    margin-top: 0.5vh; /* Add spacing above and below the line */
    margin-bottom: 2vh;
  }