.ball-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
/*   
  .ball {
    width: 50px;
    height: 50px;
    background-color: #611a41;
    border-radius: 50%;
    animation: bounce 1s infinite;
    
  } */

  .floor {
    position: absolute;
    margin-top: 5%;
    width: 30%;
    height: 10px;
    border-radius:10px;

    
    background-color: #22666b;
    /* bottom: 0; */
  }
/*   
  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-200%);
    }
  }
   */

  html, body {
    height: 100%;
    margin: 0;
  }
  
  .ball {
    background: radial-gradient(farthest-corner at 60px 45px, #7acabe 0%, rgb(14, 104, 95) 50%);

    border-radius: 50%;
    height: 200px;
    width: 200px;
    animation: colorChange 1s infinite alternate;
  }
  

  .ball-shadow {
    background: radial-gradient(50% 50%, #2f946f 0%, #333 100%);
    height: 50px;
    width: 200px;
    border-radius: 50%;
  }
  
  .bouncy-castle {
    height: 50%;
    left: 50%;
    position: absolute;
  }
  
  .bouncy-castle .ball-shadow {
    -webkit-animation-direction: alternate;
    -webkit-animation-duration: 1s;
    -webkit-animation-name: grow;
    -webkit-animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 1s;
    animation-name: grow;
    animation-iteration-count: infinite;
    bottom: 0;
    position: absolute;
    margin-left: -100px;
  }
  
  .bouncy-castle .ball {
    -webkit-animation-direction: alternate;
    -webkit-animation-duration: 1s;
    -webkit-animation-name: bounce;
    -webkit-animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 1s;
    animation-name: bounce;
    animation-iteration-count: infinite;
    margin-left: -100px;
    position: absolute;
  }
  
  @-webkit-keyframes grow {
    from {
      bottom: 0;
      margin-left: -100px;
      height: 50px;
      opacity: 1;
    }
  
    to {
      bottom: -15px;
      margin-left: -150px;
      height: 80px;
      opacity: 0.4;
    }
  }
  
  @keyframes grow {
    from {
      bottom: 0;
      margin-left: -100px;
      height: 50px;
      width: 200px;
    }
  
    to {
      bottom: 20px;
      margin-left: 0;
      height: 10px;
      width: 15px;
    }
  }
  
  @-webkit-keyframes bounce {
    from {
      bottom: 20px;
    }
  
    to {
      bottom: 100%;
    }
  }
  
  @keyframes bounce {
    from {
      bottom: 20px;
      /* width: 220px; */
      height: 120px;
    }
  
    to {
      bottom: 100%;
      /* width: 200px; */
      height: 200px;
    }
  }
  

  @keyframes colorChange {
    from {
      background: radial-gradient(farthest-corner at 60px 45px, #7acabe 0%, rgb(14, 104, 95) 50%);
    }
    to {
      background: radial-gradient(farthest-corner at 10px 50px, #7acabe 0%, rgb(14, 104, 95) 50%);
    }
   }