.title {

    font: 'Courier New', Courier, monospace;
    font-size: 2.5rem;
    /* font-weight: bold; */
    color: #71717ef2;
    margin: 0.5rem 5%;
}


.btn-bold {
    border-radius: 20%;
    background-color: #4972b3ad;
    color: white;
    font: 'Courier New', Courier, monospace;
    border: 1px solid #ffffff00;

}

.btn-bold:hover {
    border: 1px solid #ffffff;
}