.project {
    display: flex; /* Use Flexbox */
    flex-direction: column; 
    justify-content: center; /* Vertically center elements */
    align-items: center; /* Horizontally center elements */
    /* margin: 0 auto; */
    width: 100%;
    height: 100%;
    /* padding: 1vh 1vh 1vh 1vh; */
    opacity: 0.6;
    
    background-image: url('../static/images/melgen.png');
    background-size: cover;
    background-color: rgba(65, 57, 57, 0.687);
    border-radius: 10%;
    z-index: -1;
}

.project-title {
    display: flex; /* Use Flexbox */
    justify-content: center; 
    align-items: center; /* Horizontally center elements */
    margin: 0 auto;
    width: 100%;
    height: 100%;
    font-size: 3vh;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    color: rgb(34, 58, 102);


}


